<md-content layout-margin layout-padding class="container"
	layout="column" layout-align="center center"
	style="margin-bottom: 120px;">
	<img src="/src/client/images/ticket.png" alt="ticket" width="100">
	<h3 class="md-title">Biljetter</h3>
	<div layout="row" layout-margin layout-align="start center" flex class="wide" style="border-bottom: 1px solid #DEDEDE;">
		<h3 class="md-title">Standardbiljett</h3>
		<span flex></span>
		<md-button class="md-primary md-raised no-backdrop md-title" style="padding-left: 8px; padding-right: 8px;" aria-label="Standard" ng-href="https://secure.tickster.com/Intro.aspx?ERC=UG2X5HEK768XKDM">KÖP FÖR 395 SEK</md-button>
	</div>
	
	<div layout="row" layout-margin layout-align="start center" flex class="wide" style="border-bottom: 1px solid #DEDEDE;">
		<h3 class="md-title">VIP-biljett <span class="material-icons small red">whatshot</span></h3>
		<span flex></span>
		<md-button class="md-primary md-raised no-backdrop md-title" style="padding-left: 8px; padding-right: 8px;" aria-label="VIP" ng-href="https://secure.tickster.com/Intro.aspx?ERC=UG2X5HEK768XKDM">KÖP FÖR 595 SEK</md-button>
	</div>
	<p class="md-caption">
		<em>Åldergränsen är 18 år.</em>
		<em>
			Om biljetterna inte blir slutsålda går det att köpa biljetter på plats, för en kostnad av 445 kr. Med VIP-biljett får du tillgång, utöver standardområdet, till Idrottsparkens inomhusservering med bowling, biljard. Samt att du får tillgång till terrass med swimmingpool och servering med bra sikt över scenen.
			Efter uppträdandena fortsätter festen för er med VIP-biljett. Emelie Lee spelar skivor på terrassen.
		</em>
	</p>
	
</md-content>