<md-content layout-margin layout-padding class="container"
	layout="column" layout-align="center center"
	style="margin-bottom: 120px;">
	<img src="/src/client/images/ticket.png" alt="ticket" width="100">
	<h3 class="md-title">Biljetter</h3>
	<div layout="row" layout-margin layout-align="start center" flex class="wide" style="border-bottom: 1px solid #DEDEDE;">
		<h3 class="md-title">Standardbiljett</h3>
		<span flex></span>
		<md-button class="md-primary md-raised no-backdrop md-title" style="padding-left: 8px; padding-right: 8px;" aria-label="Standard" ng-href="http://www.tickster.com/sv/events/v4h2c9z7ryx4hjv/2017-08-05/metal-park-2017">KÖP FÖR 395 SEK</md-button>
	</div>
	
	<p class="md-caption">
		<em>Åldergränsen är 18 år.</em>
		<em>
			Om biljetterna inte blir slutsålda går det att köpa biljetter på plats, för en kostnad av 450 kr.
		</em>
	</p>
	
</md-content>