<md-content layout-margin layout-padding class="container"
	layout="column" layout-align="center center"
	style="margin-bottom: 120px;">
	<img src="/src/client/images/ticket.png" alt="ticket" style="height: auto; width: 100px;">
	<h3 class="md-title">Biljetter</h3>
	<div layout="row" layout-margin layout-align="start center" flex class="wide" style="border-bottom: 1px solid #DEDEDE;">
		<h3 class="md-title">Standardbiljett</h3>
		<span flex></span>
		<md-button class="md-primary md-raised no-backdrop md-title" style="padding-left: 8px; padding-right: 8px;" target="_blank" aria-label="Standard" ng-href="https://www.tickster.com/sv/events/d7zcn10fvgl2zry/2018-07-06/metal-park-6-7-juli-2018">KÖP FÖR 200 SEK</md-button>
	</div>

	<p class="md-caption">
		<em>Åldergränsen är 18 år.</em>
		<br />
		<em>
			Entré i dörren på fredag: 100 kr.<br />
			Entré i dörren på lördag: 200 kr.<br />
			Förköp enligt länken ovan för bägge dagarna: 200 kr.
		</em>
	</p>

</md-content>
