<md-content layout-margin layout-padding class="container"
	layout="column" layout-align="center center"
	style="margin-bottom: 120px;">
	<img src="/src/client/images/boende.png" alt="Boende" style="width: 70px; height: auto;">
	<h3 class="md-title">Boende</h3>
	<p class="md-body-2" >Behöver du boende under sommarens tyngsta konsert? Vi tillhandahåller husvangsplats på området som kostar 100kr och tältplats 60kr. Mer information eller bokning sker via kontakt@idrottsparken.se
	eller på telefon 0271-22725</p>

	<p class="md-body-2" style="margin: 0 auto;">Fler alternativ:</p>
	<md-button ng-href="https://www.svenskaturistforeningen.se/anlaggningar/stf-edsbyn-vandrarhem/">Gå till STF Edsbyns Vandrarhem</md-button>
	<md-button ng-href="http://www.hotelledsbyn.se/">Gå till Hotell Edsbyn</md-button>
</md-content>
